/* CSS Anda */
.konten {
    text-align: center; /* Untuk mengatur teks ke tengah */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Untuk menggeser elemen ke tengah */
}
